.main {
    background-color: #f9fafb;

    .main-title {
        padding: 67px 0 73px 94px;
        font-family: HelveticaNeue;
        font-size: 44px;
        font-weight: 900;
        color: #000000;
    }
}

.card-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}