@import "../../variables";
@import "../../mixins";

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px 16px 0;
  height: 240px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
    0 3px 6px 0 rgba(25, 32, 36, 0.16);

  .card-img {
    height: 32px;
    width: 32px;
    margin-right: 18px;
  }
}

.airline-name {
  font-family: $app-font;
  font-size: 16px;
  font-weight: bold;
  color: $font-main-color;
}

.hover-details {
  .airline-alliance,
  .airline-phone {
    @include font-styling;
  }

  .airline-url {
    font-family: $app-font;
    font-size: 14px;
    font-weight: normal;
    color: #5a6872;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
  }
}

.hide-details {
  display: none;
}

.hover-border {
  border: solid 1px #363f45;
}

.hover-title {
  font-size: 14px;
}
